

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  h1,h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

  }

  p{
    text-align: justify;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 20px;
  }


  


h3{
    text-align: center;
  }
  .board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }

  button{
    padding: 5px 10px;
    border-radius: 20px;
    color: #000;
    background-color: greenyellow;
    border: none;
    display: flex;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 50px;
  }

  button:hover{
    background-color: #00ff00;
  }
  
.erros, .acertos{
  display: block;
  text-align: center;
}

.combinacao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}